﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WFP Logistics: Shipping</title>
    <style media="screen" type="text/css">
        #selectedCell {
            background: #E9F5C5;
            
        }
    </style>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.2/css/select.dataTables.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.2/css/select.dataTables.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Shipping eNotes</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Settings <b class="caret"></b></a>
                    
                        <ul role="menu" class="dropdown-menu">
                            <li class="dropdown-header">
                                <a class="dropdown-toggle" href="#">General</a>
                            </li>
                            <li class="divider"></li>
                            <li><a asp-area="" asp-controller="ExchangeRates" asp-action="Index" asp-route-id=1>Exchange Rate</a></li>
                            
                            <li class="divider"></li>
                            
                            <li class="dropdown-header">
                                <a class="dropdown-toggle" href="#">Damco</a>
                            </li>
                            <li class="divider"></li>
                                        <li><a asp-area="" asp-controller="Siginon_Bulk" asp-action="Edit" asp-route-id=2>Bulk</a></li>
                                        
                                        <li><a asp-area="" asp-controller="Siginon_FEU" asp-action="Edit" asp-route-id=1>FEU</a></li>
                                        <li><a asp-area="" asp-controller="Siginon_TEU" asp-action="Edit" asp-route-id=1>TEU</a></li>
                                   
                            <li class="divider"></li>
                            <li class="dropdown-header">
                                <a class="dropdown-toggle" href="#">Bollore</a>
                            </li><li class="divider"></li>
                                
                                    <li><a asp-area="" asp-controller="Bollore_Bulk" asp-action="Edit" asp-route-id=2>Bulk</a></li>
                                   
                                    <li><a asp-area="" asp-controller="Bollore_FEU" asp-action="Edit" asp-route-id=1>FEU</a></li>
                                    <li><a asp-area="" asp-controller="Bollore_TEU" asp-action="Edit" asp-route-id=1>TEU</a></li>
                                
                            
                            
                        </ul>
                    </li>
                    
                    
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Shipments <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Shipments" asp-action="Index" asp-route-id=1>Damco</a></li>
                            <li class="divider"></li>
                            <li><a asp-area="" asp-controller="Shipments" asp-action="Index" asp-route-id=2>Bollore</a></li>
                           
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - WFP Logistics</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        
    </environment>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript">


    $(document).ready(function () {
        var conversionFlag = false;

        if (window.location.pathname.substring(0,18) == "/Shipments/Details") {
            fillInCalculatedValuesBaggedIn();
            fillInCalculatedValuesCustoms();
            fillInCalculatedValuesAgency();
            fillInCalculatedValuesKephis();
            fillInCalculatedValuesDelivery();
            fillInCalculatedValuesMss();
            
        }

        function fillInCalculatedValuesBaggedIn() {

            var UsdMt = $(document.getElementById("Warehouse Handling at agent\'s warehouse - Bagged: In")).closest('tr').find(".UsdMt").html();
            var modifiedFap = parseFloat($(document.getElementById("Warehouse Handling at agent\'s warehouse - Bagged: In")).closest('tr').find(".FinalAmountPayable").html()).toFixed(2);
            var modifiedTon = parseFloat($(document.getElementById("Warehouse Handling at agent\'s warehouse - Bagged: In")).closest('tr').find(".Tonnage").html()).toFixed(2);
            var modifiedId = parseInt($(document.getElementById("Warehouse Handling at agent\'s warehouse - Bagged: In")).closest('tr').find(".id").html());
            var modifiedCap = parseFloat(UsdMt * modifiedTon * 1).toFixed(2);
            var modifiedIap = modifiedCap;
            //alert("the value of UsdMt is " +UsdMt);
            var replymessage = "modifiedId="+modifiedId+"&modifiedCap=" + modifiedCap + "&modifiedIap=" + modifiedIap + "&modifiedFap=" + modifiedFap + "&modifiedTon=" + modifiedTon + "&conversionFlag=false";
            //alert("replymessage is " + replymessage);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save", "Siginon_Bulk_Type")',
                    data: replymessage,
                    success: function (data) {
                        
                    }
                });
        }

        function fillInCalculatedValuesDelivery() {
            var UsdMt = $(document.getElementById("Delivery order (BOL) fees")).closest('tr').find(".UsdMt").html();
            var modifiedCap = parseFloat(UsdMt*1).toFixed(2);
            var modifiedFap = parseFloat($(document.getElementById("Delivery order (BOL) fees")).closest('tr').find(".FinalAmountPayable").html()).toFixed(2);
            var modifiedTon = parseFloat($(document.getElementById("Delivery order (BOL) fees")).closest('tr').find(".Tonnage").html()).toFixed(2);
            var modifiedId = parseInt($(document.getElementById("Delivery order (BOL) fees")).closest('tr').find(".id").html());
            var modifiedIap = modifiedCap;


            //alert("the value of modifiedIap is " + modifiedIap);
            var replymessage = "modifiedId="+modifiedId+"&modifiedCap=" + modifiedCap + "&modifiedIap=" + modifiedIap + "&modifiedFap=" + modifiedFap + "&modifiedTon=" + modifiedTon + "&conversionFlag=false";
                //alert("replymessage is " +replymessage);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save", "Siginon_Bulk_Type")',
                    data: replymessage,
                    success: function (data) {
                        //alert("the following was passed: " + data);
                    }
                });
        }
        function fillInCalculatedValuesMss() {
            var modifiedCap = parseFloat($(document.getElementById("MSS Levy")).closest('tr').find(".ContractualAmountPayable").html()).toFixed(2);
            var modifiedIap = modifiedCap;
            var modifiedFap = parseFloat($(document.getElementById("MSS Levy")).closest('tr').find(".FinalAmountPayable").html()).toFixed(2);
            var modifiedTon = parseFloat($(document.getElementById("MSS Levy")).closest('tr').find(".Tonnage").html()).toFixed(2);
            var modifiedId = parseInt($(document.getElementById("MSS Levy")).closest('tr').find(".id").html());
            var replymessage = "modifiedId=" + modifiedId + "&modifiedCap=" + modifiedCap + "&modifiedIap=" + modifiedIap + "&modifiedFap=" + modifiedFap + "&modifiedTon=" + modifiedTon + "&conversionFlag=true";
                //alert("replymessage is " +replymessage);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save", "Siginon_Bulk_Type")',
                    data: replymessage,
                    success: function (data) {
                        //alert("the following was passed: " + data);
                    }
            });
                //window.location.reload(true);
        }


        function fillInCalculatedValuesCustoms() {
            var UsdMt = $(document.getElementById("Customs Documentation")).closest('tr').find(".UsdMt").html();
            var shipmentTonnage = $(document.getElementById("Tonnage")).html();
            var calcContractual = parseFloat(UsdMt) * parseFloat(shipmentTonnage);
            var modifiedCap = calcContractual.toFixed(2);
            var modifiedFap = parseFloat($(document.getElementById("Customs Documentation")).closest('tr').find(".FinalAmountPayable").html()).toFixed(2);
            var modifiedTon = parseFloat($(document.getElementById("Customs Documentation")).closest('tr').find(".Tonnage").html()).toFixed(2);
            var modifiedIap = modifiedCap;
            var modifiedId = parseInt($(document.getElementById("Customs Documentation")).closest('tr').find(".id").html());

            var replymessage = "modifiedId=" + modifiedId + "&modifiedCap=" + modifiedCap + "&modifiedIap=" + modifiedIap + "&modifiedFap=" + modifiedFap + "&modifiedTon=" + modifiedTon + "&conversionFlag=false";
                //alert("replymessage is " +replymessage);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save", "Siginon_Bulk_Type")',
                    data: replymessage,
                    success: function (data) {
                        //alert("the following was passed: " + data);
                    }
                });
        }

        function fillInCalculatedValuesAgency() {
            var UsdMt = $(document.getElementById("Agency Fee")).closest('tr').find(".UsdMt").html();
            var shipmentLandedMt = $(document.getElementById("LandedMt")).html();
            var calcContractual = parseFloat(UsdMt) * parseFloat(shipmentLandedMt);
            var modifiedCap = calcContractual.toFixed(2);
            var modifiedFap = parseFloat($(document.getElementById("Agency Fee")).closest('tr').find(".FinalAmountPayable").html()).toFixed(2);

            var modifiedTon = parseFloat($(document.getElementById("Agency Fee")).closest('tr').find(".Tonnage").html()).toFixed(2);
            var modifiedIap = modifiedCap;
            var modifiedId = parseInt($(document.getElementById("Agency Fee")).closest('tr').find(".id").html());
            //alert("the value of modifiedIap is " + modifiedIap);
            var replymessage = "modifiedId=" + modifiedId + "&modifiedCap=" + modifiedCap + "&modifiedIap=" + modifiedIap + "&modifiedFap=" + modifiedFap + "&modifiedTon=" + modifiedTon + "&conversionFlag=false";
                //alert("replymessage is " +replymessage);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save", "Siginon_Bulk_Type")',
                    data: replymessage,
                    success: function (data) {
                        //alert("the following was passed: " + data);
                    }
                });
        }

        function fillInCalculatedValuesKephis() {


            var modifiedFap = parseFloat($(document.getElementById("KEPHIS")).closest('tr').find(".FinalAmountPayable").html()).toFixed(2);

            var modifiedTon = parseFloat($(document.getElementById("KEPHIS")).closest('tr').find(".Tonnage").html()).toFixed(2);
            var modifiedId = parseInt($(document.getElementById("KEPHIS")).closest('tr').find(".id").html());

            var modifiedCap = parseFloat($(document.getElementById("KEPHIS")).closest('tr').find(".ContractualAmountPayable").html()).toFixed(2);
            var modifiedIap = modifiedCap;

            //alert("the value of modifiedIap is " + modifiedIap);
            var replymessage = "modifiedId=" + modifiedId + "&modifiedCap=" + modifiedCap + "&modifiedIap=" + modifiedIap + "&modifiedFap=" + modifiedFap + "&modifiedTon=" + modifiedTon + "&conversionFlag=true";
                //alert("replymessage is " +replymessage);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save", "Siginon_Bulk_Type")',
                    data: replymessage,
                    success: function (data) {
                        //alert("the following was passed: " + data);
                    }
            });
                //window.location.reload(true);
        }

    });


        $(document).on('blur', '#selectedCell', function (event) {
            //alert("before vars");
                var modifiedId = $.trim($(this).closest('tr').attr('id'));
                var modifiedCap = $.trim($(this).closest('tr').find('.ContractualAmountPayable').html());
                var modifiedIap = $.trim($(this).closest('tr').find('.InitialAmountPayable').html());
                var modifiedFap = $.trim($(this).closest('tr').find('.FinalAmountPayable').html());
                var modifiedTon = $.trim($(this).closest('tr').find('.Tonnage').html());
                //alert("after vars");
                var replymessage = "modifiedId=" + modifiedId + "&modifiedCap=" + modifiedCap + "&modifiedIap=" + modifiedIap + "&modifiedFap=" + modifiedFap + "&modifiedTon=" + modifiedTon;
                //alert("after message");
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Save", "Siginon_Bulk_Type")',
                    data: replymessage,
                    success: function (data) {
                        //alert("the following was passed: " + data);
                    }
                });
        });

        $(document).on('click', 'td, th', function (event) {
            $('#selectedCell').removeAttr('id');

            $(this).attr('id', 'selectedCell');
        });



    </script>
        
</body>
</html>
