﻿@model IEnumerable<Shipping.Models.Siginon_Bulk_Type>

@{
    ViewData["Title"] = "Details";
}
<table class=" table table-bordered" id="shipment_details">
    <thead>
        <tr>
            <th style="visibility:hidden">
</th>
                <th>Standard Expenditures for Bulk Shipments
            </th>
            <th>
                USD per MT
            </th>
            <th>
                Contractual Amount payable (USD)
            </th>
            <th>
                Initial Amount payable
            </th>
            <th>
                Final Amount payable
            </th>
            <th>
                Tonnage (MT) as per CDR/Suppor
            </th>
        </tr>
    </thead>
    <tbody>
        @{ var counter = 1;
            foreach (var item in Model)
            {
                if (item.Standard)
                {
        <tr id="@item.Id">
            <td class="id" style="visibility:hidden">
                @item.Id
            </td>
            <td id="@item.ExpendituresLabel">
                @item.ExpendituresLabel
            </td>
            <td class="UsdMt">
                @item.UsdMt
            </td>
            <td tabindex="@counter" @{counter++;} contenteditable="true" class="ContractualAmountPayable" style="text-align:right">
                @item.ContractualAmountPayable
            </td>
            <td tabindex="@counter" @{counter++;} contenteditable="true" class="InitialAmountPayable" style="text-align:right">@item.InitialAmountPayable</td>
            <td tabindex="@counter" @{counter++;} contenteditable="true" class="FinalAmountPayable" style="text-align:right">@item.FinalAmountPayable</td>
            <td tabindex="@counter" @{counter++;} contenteditable="true" class="Tonnage" style="text-align:right">@item.Tonnage</td>
        </tr>
                    }
                }
        <tr>
            <td class="id" style="visibility:hidden">
</td>
                <td><h5>Contractual Amount for Regular Services</h5>
            </td>
            <td>
                
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="id" style="visibility:hidden"></td>
<td>
                <h4>A. Bulk Shipments (cont.)</h4>
            </td>
            <td>
                
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th style="visibility:hidden">
            </th>
<th>
                List all applicable irregular costs
            </th>
            <th>
                USD per MT
            </th>
            <th>
                Contractual Amount payable (USD)
            </th>
            <th>
                Initial Amount payable
            </th>
            <th>
                Final Amount payable
            </th>
            <th>
                Tonnage (MT) as per CDR/Suppor
            </th>
        </tr>

        @foreach (var item in Model)
        {
            if (!item.Standard)
            {
                <tr id="@item.Id">
                    <td class="id" style="visibility:hidden">
                        @item.Id
                    </td>
                    <td id="@item.ExpendituresLabel">
                        @item.ExpendituresLabel
                    </td>
                    <td class="UsdMt">
                        @item.UsdMt
                    </td>
                    <td contenteditable="true" class="ContractualAmountPayable" tabindex="@counter" @{counter++;} style="text-align:right">
                        @item.ContractualAmountPayable
                    </td>
                    <td contenteditable="true" class="InitialAmountPayable" tabindex="@counter" @{counter++;} style="text-align:right">@item.InitialAmountPayable</td>
                    <td tabindex="@counter" @{counter++;} contenteditable="true" class="FinalAmountPayable" style="text-align:right">@item.FinalAmountPayable</td>
                    <td contenteditable="true" class="Tonnage" tabindex="@counter" @{counter++;} style="text-align:right">@item.Tonnage</td>
                </tr>
            }
        }

                }




        <tr>
            <td class="id" style="visibility:hidden"></td>
            <td>
                <h5>Contractual Amount for irregular services</h5>
            </td>
            <td>
                
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
        <tr>
            <td class="id" style="visibility:hidden"></td>
            <td>
                <h5>TOTAL CONTRACTUAL AMOUNT PAYABLE FOR CLEARING SERVICES</h5>
            </td>
            <td>
                
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="id" style="visibility:hidden"></td>
            <td>
                <h5>INITIAL AMOUNT</h5>
            </td>
            <td>
                
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
       
    </tbody>
</table>
