@model Shipping.Models.Siginon_Bulk_Type

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Damco_Bulk_Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KPALow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KPALow)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KPAHigh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KPAHigh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShuntIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShuntIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShuntOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShuntOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseWfpIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseWfpIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseWfpOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseWfpOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Storage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Storage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomsDocumentation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomsDocumentation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wharfage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wharfage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CFS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CFS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WharfageFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WharfageFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgencyFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgencyFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bond)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bond)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConventionalBagging)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConventionalBagging)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kephis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kephis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stevedoring)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stevedoring)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Expedition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Expedition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reconstitution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reconstitution)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quayside)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quayside)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RebaggingAgent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RebaggingAgent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RebaggingWfp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RebaggingWfp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MssLevy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MssLevy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rdl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rdl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransportQuaysideGbhl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransportQuaysideGbhl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tagging)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tagging)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
