@model IEnumerable<Shipping.Models.Siginon_Bulk_Type>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.KPALow)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KPAHigh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShuntIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShuntOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehouseIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehouseOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehouseWfpIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehouseWfpOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Storage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomsDocumentation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wharfage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CFS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WharfageFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AgencyFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bond)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ConventionalBagging)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kephis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stevedoring)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Expedition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reconstitution)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quayside)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RebaggingAgent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RebaggingWfp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MssLevy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rdl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransportQuaysideGbhl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tagging)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KPALow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KPAHigh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShuntIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShuntOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseWfpIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseWfpOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomsDocumentation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wharfage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CFS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WharfageFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bond)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConventionalBagging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kephis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stevedoring)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expedition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reconstitution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quayside)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RebaggingAgent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RebaggingWfp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MssLevy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rdl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportQuaysideGbhl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tagging)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
