@model Shipping.Models.Shipment

@{
    ViewData["Title"] = "Create";
}

<h2>@ViewBag.Vendor</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4> Create Shipment</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="VesselName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VesselName" class="form-control" />
                <span asp-validation-for="VesselName" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="BLNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BLNumber" class="form-control" />
                <span asp-validation-for="BLNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SINumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SINumber" class="form-control" />
                <span asp-validation-for="SINumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Commodity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Commodity" class="form-control" />
                <span asp-validation-for="Commodity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Type" class="form-control">
                    <option value="9"></option>
                    <option value="0">Damco Bulk</option>
                    <option value="1">Damco FEU</option>
                    <option value="2">Damco TEU</option>
                    <option value="3">Bollore Bulk</option>
                    <option value="4">Bollore FEU</option>
                    <option value="5">Bollore TEU</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
       
        <div class="form-group">
            <label asp-for="Project" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Project" class="form-control" />
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BILTonnage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BILTonnage" class="form-control" />
                <span asp-validation-for="BILTonnage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LandedMt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LandedMt" class="form-control" />
                <span asp-validation-for="LandedMt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ETA" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ETA" class="form-control" />
                <span asp-validation-for="ETA" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FileRef" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FileRef" class="form-control" />
                <span asp-validation-for="FileRef" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FinalDestination" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FinalDestination" class="form-control" />
                <span asp-validation-for="FinalDestination" class="text-danger"></span>
            </div>
        </div>

       
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        
        <input asp-for="VendorId" type="hidden" value="@ViewBag.VendorId" />
       
               
               
              
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
