@model Shipping.Models.Shipment

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ShipmentId" />
        <dt>
            @Html.DisplayNameFor(model => model.BLNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BLNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SINumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SINumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commodity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commodity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinalDestination)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinalDestination)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BILTonnage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BILTonnage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LandedMt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LandedMt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ETA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ETA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileRef)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileRef)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VesselName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VesselName)
        </dd>
       
    </dl>
    
    <form asp-action="Delete" asp-route-vendorid="@Model.VendorId">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index" asp-route-id="@Model.VendorId">Back to List</a>
        </div>
    </form>
</div>
