@model Shipping.Models.Shipment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BLNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BLNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SINumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SINumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commodity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commodity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinalDestination)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinalDestination)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BILTonnage)
        </dt>
        <dd id="Tonnage">
            @Html.DisplayFor(model => model.BILTonnage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LandedMt)
        </dt>
        <dd id="LandedMt">
            @Html.DisplayFor(model => model.LandedMt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ETA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ETA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileRef)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileRef)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VesselName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VesselName)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShipmentId">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model.VendorId">Back to List</a>
</div>

<hr />

@Html.Partial("_PartialBulk", Model.shipmentDetails)