@model Shipping.Models.Shipment

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Shipment - @ViewBag.VendorId</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ShipmentId" />
        <input type="hidden" asp-for="VendorId" />
        <div class="form-group">
            <label asp-for="BLNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BLNumber" class="form-control" />
                <span asp-validation-for="BLNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SINumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SINumber" class="form-control" />
                <span asp-validation-for="SINumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Commodity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Commodity" class="form-control" />
                <span asp-validation-for="Commodity" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Type" class="form-control">
                    <option value="0"></option>
                    <option value="1">Damco Bulk</option>
                    <option value="2">Damco FEU</option>
                    <option value="3">Damco TEU</option>
                    <option value="4">Bollore Bulk</option>
                    <option value="5">Bollore FEU</option>
                    <option value="6">Bollore TEU</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FinalDestination" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FinalDestination" class="form-control" />
                <span asp-validation-for="FinalDestination" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Project" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Project" class="form-control" />
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BILTonnage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BILTonnage" class="form-control" />
                <span asp-validation-for="BILTonnage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LandedMt" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LandedMt" class="form-control" />
                <span asp-validation-for="LandedMt" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ETA" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ETA" class="form-control" />
                <span asp-validation-for="ETA" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FileRef" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FileRef" class="form-control" />
                <span asp-validation-for="FileRef" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VesselName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="VesselName" class="form-control" />
                <span asp-validation-for="VesselName" class="text-danger"></span>
            </div>
        </div>
       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
