@model IEnumerable<Shipping.Models.Shipment>

@{
    ViewData["Title"] = "Index";
}

<h2>@ViewBag.Vendor</h2>
<h4>Shipments</h4>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.VendorId">Create New Shipment</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.VesselName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BLNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SINumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Commodity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FinalDestination)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BILTonnage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LandedMt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ETA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileRef)
                </th>
               
               
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VesselName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BLNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SINumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commodity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalDestination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BILTonnage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LandedMt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ETA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileRef)
            </td>
           
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShipmentId" asp-route-vendorid="@ViewBag.VendorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShipmentId" asp-route-vendorid="@ViewBag.VendorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShipmentId" asp-route-vendorid="@ViewBag.VendorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
