﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>WFP Logistics</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to eNotes</h2>
        <p>
            eNotes is a sample application that
            demonstrates Shipping ledgers.
        </p>
    </div>
    
</div>