@model Shipping.Models.Siginon_FEU

@{
    ViewData["Title"] = "Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h2>Details</h2>
    <div>
        <h4>Damco_FEU</h4>
        <div style="width: 800px; ">
            <table class="table table-hover">

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.KPA)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.KPA)
                    </td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ShuntIn)</td>
                    <td>@Html.DisplayFor(model => model.ShuntIn)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ShuntOut)</td>
                    <td>@Html.DisplayFor(model => model.ShuntOut)</td>
                </tr>    
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Destuffing)</td>
                    <td>@Html.DisplayFor(model => model.Destuffing)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DestuffingWFP)</td>
                    <td>@Html.DisplayFor(model => model.DestuffingWFP)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Ramp)</td>
                    <td>@Html.DisplayFor(model => model.Ramp)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.WarehouseIn)</td>
                    <td>@Html.DisplayFor(model => model.WarehouseIn)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.WarehouseOut)</td>
                    <td>@Html.DisplayFor(model => model.WarehouseOut)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.WarehouseWfpIn)</td>
                    <td>@Html.DisplayFor(model => model.WarehouseWfpIn)</td>
                </tr>  
                <tr>
                    <td>@Html.DisplayNameFor(model => model.WarehouseWfpOut)</td>
                    <td>@Html.DisplayFor(model => model.WarehouseWfpOut)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.StorageBagged)</td>
                    <td>@Html.DisplayFor(model => model.StorageBagged)</td>
                </tr> 
                <tr>
                    <td>@Html.DisplayNameFor(model => model.StorageCartonized)</td>
                    <td>@Html.DisplayFor(model => model.StorageCartonized)</td>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.NFI)</td>
                    <td>@Html.DisplayFor(model => model.NFI)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CustomsDocumentation)</td>
                    <td>@Html.DisplayFor(model => model.CustomsDocumentation)</td>
                </tr> 
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Bond)</td>
                    <td>@Html.DisplayFor(model => model.Bond)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Wharfage)</td>
                    <td>@Html.DisplayFor(model => model.Wharfage)</td>
                </tr> 
                <tr>
                    <td>@Html.DisplayNameFor(model => model.AgencyFee)</td>
                    <td>@Html.DisplayFor(model => model.AgencyFee)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.TrackingFee)</td>
                    <td>@Html.DisplayFor(model => model.TrackingFee)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.AlterationFee)</td>
                    <td>@Html.DisplayFor(model => model.AlterationFee)</td>
                </tr>  
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CFS)</td>
                    <td>@Html.DisplayFor(model => model.CFS)</td>
                </tr> 
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Cleaning)</td>
                    <td>@Html.DisplayFor(model => model.Cleaning)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.LiftInsidePort)</td>
                    <td>@Html.DisplayFor(model => model.LiftInsidePort)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.LiftOutsidePort)</td>
                    <td>@Html.DisplayFor(model => model.LiftOutsidePort)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DeliveryOrder)</td>
                    <td>@Html.DisplayFor(model => model.DeliveryOrder)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.DropOff)</td>
                    <td>@Html.DisplayFor(model => model.DropOff)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Terminal)</td>
                    <td>@Html.DisplayFor(model => model.Terminal)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Isps)</td>
                    <td>@Html.DisplayFor(model => model.Isps)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.KpaStorage)</td>
                    <td>@Html.DisplayFor(model => model.KpaStorage)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.KpaRemarshalling)</td>
                    <td>@Html.DisplayFor(model => model.KpaRemarshalling)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.EctsCharges)</td>
                    <td>@Html.DisplayFor(model => model.EctsCharges)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Mss)</td>
                    <td>@Html.DisplayFor(model => model.Mss)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Equipment)</td>
                    <td>@Html.DisplayFor(model => model.Equipment)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ReconstitutionBagged)</td>
                    <td>@Html.DisplayFor(model => model.ReconstitutionBagged)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.ReconstitutionCartonized)</td>
                    <td>@Html.DisplayFor(model => model.ReconstitutionCartonized)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.Rebagging)</td>
                    <td>@Html.DisplayFor(model => model.Rebagging)</td>
                </tr>
                    
                <tr>
                    <td>@Html.DisplayNameFor(model => model.BaggedAgentWarehouse)</td>
                    <td>@Html.DisplayFor(model => model.BaggedAgentWarehouse)</td>
                </tr>
                <tr>
                    <td>@Html.DisplayNameFor(model => model.CartonizedAgentWarehouse)</td>
                    <td>@Html.DisplayFor(model => model.CartonizedAgentWarehouse)</td>
                </tr>
                    
               </table>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
            
        </div>
</body>
</html>
