@model Shipping.Models.Siginon_FEU

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <h2>Configure</h2>
<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Damco: FEU</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        
        <div class="form-group">
            <label asp-for="KPA" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="KPA" class="form-control" />
                <span asp-validation-for="KPA" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShuntIn" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="ShuntIn" class="form-control" />
                <span asp-validation-for="ShuntIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShuntOut" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="ShuntOut" class="form-control" />
                <span asp-validation-for="ShuntOut" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Destuffing" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Destuffing" class="form-control" />
                <span asp-validation-for="Destuffing" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DestuffingWFP" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="DestuffingWFP" class="form-control" />
                <span asp-validation-for="DestuffingWFP" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ramp" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Ramp" class="form-control" />
                <span asp-validation-for="Ramp" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WarehouseIn" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="WarehouseIn" class="form-control" />
                <span asp-validation-for="WarehouseIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WarehouseOut" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="WarehouseOut" class="form-control" />
                <span asp-validation-for="WarehouseOut" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WarehouseWfpIn" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="WarehouseWfpIn" class="form-control" />
                <span asp-validation-for="WarehouseWfpIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WarehouseWfpOut" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="WarehouseWfpOut" class="form-control" />
                <span asp-validation-for="WarehouseWfpOut" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StorageBagged" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="StorageBagged" class="form-control" />
                <span asp-validation-for="StorageBagged" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StorageCartonized" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="StorageCartonized" class="form-control" />
                <span asp-validation-for="StorageCartonized" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="NFI" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="NFI" class="form-control" />
                <span asp-validation-for="NFI" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomsDocumentation" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="CustomsDocumentation" class="form-control" />
                <span asp-validation-for="CustomsDocumentation" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bond" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Bond" class="form-control" />
                <span asp-validation-for="Bond" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Wharfage" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Wharfage" class="form-control" />
                <span asp-validation-for="Wharfage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AgencyFee" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="AgencyFee" class="form-control" />
                <span asp-validation-for="AgencyFee" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TrackingFee" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="TrackingFee" class="form-control" />
                <span asp-validation-for="TrackingFee" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AlterationFee" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="AlterationFee" class="form-control" />
                <span asp-validation-for="AlterationFee" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CFS" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="CFS" class="form-control" />
                <span asp-validation-for="CFS" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cleaning" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Cleaning" class="form-control" />
                <span asp-validation-for="Cleaning" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LiftInsidePort" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="LiftInsidePort" class="form-control" />
                <span asp-validation-for="LiftInsidePort" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LiftOutsidePort" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="LiftOutsidePort" class="form-control" />
                <span asp-validation-for="LiftOutsidePort" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DeliveryOrder" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="DeliveryOrder" class="form-control" />
                <span asp-validation-for="DeliveryOrder" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DropOff" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="DropOff" class="form-control" />
                <span asp-validation-for="DropOff" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Terminal" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Terminal" class="form-control" />
                <span asp-validation-for="Terminal" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Isps" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Isps" class="form-control" />
                <span asp-validation-for="Isps" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KpaStorage" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="KpaStorage" class="form-control" />
                <span asp-validation-for="KpaStorage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KpaRemarshalling" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="KpaRemarshalling" class="form-control" />
                <span asp-validation-for="KpaRemarshalling" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EctsCharges" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="EctsCharges" class="form-control" />
                <span asp-validation-for="EctsCharges" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Mss" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Mss" class="form-control" />
                <span asp-validation-for="Mss" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Equipment" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Equipment" class="form-control" />
                <span asp-validation-for="Equipment" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReconstitutionBagged" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="ReconstitutionBagged" class="form-control" />
                <span asp-validation-for="ReconstitutionBagged" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ReconstitutionCartonized" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="ReconstitutionCartonized" class="form-control" />
                <span asp-validation-for="ReconstitutionCartonized" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rebagging" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Rebagging" class="form-control" />
                <span asp-validation-for="Rebagging" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BaggedAgentWarehouse" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="BaggedAgentWarehouse" class="form-control" />
                <span asp-validation-for="BaggedAgentWarehouse" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CartonizedAgentWarehouse" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="CartonizedAgentWarehouse" class="form-control" />
                <span asp-validation-for="CartonizedAgentWarehouse" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

    <div>
        <a asp-action="Details" asp-route-id=1>Back to List</a>
    </div>

</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}