@model IEnumerable<Shipping.Models.Siginon_FEU>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.timestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KPA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShuntIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShuntOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Destuffing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DestuffingWFP)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ramp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehouseIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehouseOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehouseWfpIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehouseWfpOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StorageBagged)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StorageCartonized)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NFI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomsDocumentation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bond)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wharfage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AgencyFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrackingFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AlterationFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CFS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cleaning)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LiftInsidePort)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LiftOutsidePort)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DropOff)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Terminal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Isps)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KpaStorage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KpaRemarshalling)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EctsCharges)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mss)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Equipment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReconstitutionBagged)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReconstitutionCartonized)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rebagging)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BaggedAgentWarehouse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CartonizedAgentWarehouse)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KPA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShuntIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShuntOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destuffing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestuffingWFP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ramp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseWfpIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseWfpOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageBagged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageCartonized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NFI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomsDocumentation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bond)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wharfage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlterationFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CFS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cleaning)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiftInsidePort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiftOutsidePort)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DropOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terminal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isps)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KpaStorage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KpaRemarshalling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EctsCharges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReconstitutionBagged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReconstitutionCartonized)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rebagging)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaggedAgentWarehouse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CartonizedAgentWarehouse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
