@model Shipping.Models.Siginon_Bulk

@{
    ViewData["Title"] = "Create";
}

<h2>Configure</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Damco: Bulk Shipments</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="KPALow" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="KPALow" class="form-control" />
                <span asp-validation-for="KPALow" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KPAHigh" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="KPAHigh" class="form-control" />
                <span asp-validation-for="KPAHigh" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShuntIn" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="ShuntIn" class="form-control" />
                <span asp-validation-for="ShuntIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShuntOut" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="ShuntOut" class="form-control" />
                <span asp-validation-for="ShuntOut" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WarehouseIn" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="WarehouseIn" class="form-control" />
                <span asp-validation-for="WarehouseIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WarehouseOut" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="WarehouseOut" class="form-control" />
                <span asp-validation-for="WarehouseOut" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WarehouseWfpIn" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="WarehouseWfpIn" class="form-control" />
                <span asp-validation-for="WarehouseWfpIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WarehouseWfpOut" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="WarehouseWfpOut" class="form-control" />
                <span asp-validation-for="WarehouseWfpOut" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Storage" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Storage" class="form-control" />
                <span asp-validation-for="Storage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomsDocumentation" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="CustomsDocumentation" class="form-control" />
                <span asp-validation-for="CustomsDocumentation" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Wharfage" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Wharfage" class="form-control" />
                <span asp-validation-for="Wharfage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CFS" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="CFS" class="form-control" />
                <span asp-validation-for="CFS" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WharfageFee" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="WharfageFee" class="form-control" />
                <span asp-validation-for="WharfageFee" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AgencyFee" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="AgencyFee" class="form-control" />
                <span asp-validation-for="AgencyFee" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bond" class="col-md-8 control-label"></label>
            <div class="col-md-4">
                <input asp-for="Bond" class="form-control" />
                <span asp-validation-for="Bond" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-10 col-md-2">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
