@model Shipping.Models.Siginon_Bulk

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Damco_Bulk</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KPALow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KPALow)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KPAHigh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KPAHigh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShuntIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShuntIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShuntOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShuntOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseWfpIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseWfpIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseWfpOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseWfpOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Storage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Storage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomsDocumentation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomsDocumentation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wharfage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wharfage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CFS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CFS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WharfageFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WharfageFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgencyFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgencyFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bond)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bond)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
