@model IEnumerable<Shipping.Models.Siginon_Bulk>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.timestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KPALow)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KPAHigh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShuntIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShuntOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehouseIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehouseOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehouseWfpIn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WarehouseWfpOut)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Storage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomsDocumentation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wharfage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CFS)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WharfageFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AgencyFee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bond)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KPALow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KPAHigh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShuntIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShuntOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseWfpIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseWfpOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomsDocumentation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wharfage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CFS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WharfageFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgencyFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bond)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
