@model Shipping.Models.Siginon_FEU_Type

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Damco_FEU_Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.timestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KPA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KPA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShuntIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShuntIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShuntOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShuntOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destuffing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destuffing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestuffingWFP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestuffingWFP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ramp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ramp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseWfpIn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseWfpIn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WarehouseWfpOut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WarehouseWfpOut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StorageBagged)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StorageBagged)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StorageCartonized)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StorageCartonized)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NFI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NFI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CustomsDocumentation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomsDocumentation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bond)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bond)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wharfage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wharfage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AgencyFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AgencyFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrackingFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackingFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AlterationFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlterationFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CFS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CFS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cleaning)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cleaning)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LiftInsidePort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LiftInsidePort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LiftOutsidePort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LiftOutsidePort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveryOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveryOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DropOff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DropOff)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Terminal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Terminal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Isps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Isps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KpaStorage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KpaStorage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KpaRemarshalling)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KpaRemarshalling)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EctsCharges)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EctsCharges)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mss)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mss)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReconstitutionBagged)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReconstitutionBagged)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReconstitutionCartonized)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReconstitutionCartonized)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rebagging)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rebagging)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaggedAgentWarehouse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaggedAgentWarehouse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CartonizedAgentWarehouse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CartonizedAgentWarehouse)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
