@model Shipping.Models.Bollore_Bulk

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>


    <h4>Bollore: Bulk</h4>
    <div style="width: 500px; ">
        <table class="table table-hover">

            <tr>
                <td>

                   
                        @Html.DisplayNameFor(model => model.KPALow)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.KPALow)
                    </td></tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.KPAHigh)
                </td>
            
                <td>
                    @Html.DisplayFor(model => model.KPAHigh)
                </td>
                </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ShuntIn)
                </td>
            
                    <td>
                        @Html.DisplayFor(model => model.ShuntIn)
                    </td>
                </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ShuntOut)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ShuntOut)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.WarehouseIn)
                </td>
                <td>
                    @Html.DisplayFor(model => model.WarehouseIn)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.WarehouseOut)
                </td>
                <td>
                    @Html.DisplayFor(model => model.WarehouseOut)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.WarehouseWfpIn)
                </td>
                <td>
                    @Html.DisplayFor(model => model.WarehouseWfpIn)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.WarehouseWfpOut)
                </td>
                <td>
                    @Html.DisplayFor(model => model.WarehouseWfpOut)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Storage)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Storage)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.CustomsDocumentation)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CustomsDocumentation)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Wharfage)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Wharfage)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.WharfageFee)
                </td>
                <td>
                    @Html.DisplayFor(model => model.WharfageFee)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.AgencyFee)
                </td>
                <td>
                    @Html.DisplayFor(model => model.AgencyFee)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Bond)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Bond)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.ConventionalBagging)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ConventionalBagging)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Kephis)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Kephis)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.DeliveryOrder)
                </td>
                <td>
                    @Html.DisplayFor(model => model.DeliveryOrder)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Stevedoring)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Stevedoring)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.BillOfLading)
                </td>
                <td>
                    @Html.DisplayFor(model => model.BillOfLading)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Reconstitution)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Reconstitution)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Quayside)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Quayside)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.RebaggingAgent)
                </td>
                <td>
                    @Html.DisplayFor(model => model.RebaggingAgent)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.RebaggingWfp)
                </td>
                <td>
                    @Html.DisplayFor(model => model.RebaggingWfp)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.MssLevy)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MssLevy)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Rdl)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Rdl)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.TransportQuaysideGbhl)
                </td>
                <td>
                    @Html.DisplayFor(model => model.TransportQuaysideGbhl)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Tagging)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Tagging)
                </td>
            </tr>
                    </table>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        
    </div>
