@model Shipping.Models.Bollore_Bulk

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Configure</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Bollore: Bulk</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        
        <div class="form-group">
            <label asp-for="KPALow" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="KPALow" class="form-control" />
                <span asp-validation-for="KPALow" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="KPAHigh" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="KPAHigh" class="form-control" />
                <span asp-validation-for="KPAHigh" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShuntIn" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="ShuntIn" class="form-control" />
                <span asp-validation-for="ShuntIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShuntOut" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="ShuntOut" class="form-control" />
                <span asp-validation-for="ShuntOut" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WarehouseIn" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="WarehouseIn" class="form-control" />
                <span asp-validation-for="WarehouseIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WarehouseOut" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="WarehouseOut" class="form-control" />
                <span asp-validation-for="WarehouseOut" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WarehouseWfpIn" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="WarehouseWfpIn" class="form-control" />
                <span asp-validation-for="WarehouseWfpIn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WarehouseWfpOut" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="WarehouseWfpOut" class="form-control" />
                <span asp-validation-for="WarehouseWfpOut" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Storage" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Storage" class="form-control" />
                <span asp-validation-for="Storage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CustomsDocumentation" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="CustomsDocumentation" class="form-control" />
                <span asp-validation-for="CustomsDocumentation" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Wharfage" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Wharfage" class="form-control" />
                <span asp-validation-for="Wharfage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WharfageFee" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="WharfageFee" class="form-control" />
                <span asp-validation-for="WharfageFee" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AgencyFee" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="AgencyFee" class="form-control" />
                <span asp-validation-for="AgencyFee" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Bond" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Bond" class="form-control" />
                <span asp-validation-for="Bond" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConventionalBagging" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="ConventionalBagging" class="form-control" />
                <span asp-validation-for="ConventionalBagging" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Kephis" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Kephis" class="form-control" />
                <span asp-validation-for="Kephis" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DeliveryOrder" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="DeliveryOrder" class="form-control" />
                <span asp-validation-for="DeliveryOrder" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Stevedoring" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Stevedoring" class="form-control" />
                <span asp-validation-for="Stevedoring" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BillOfLading" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="BillOfLading" class="form-control" />
                <span asp-validation-for="BillOfLading" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Reconstitution" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Reconstitution" class="form-control" />
                <span asp-validation-for="Reconstitution" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quayside" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Quayside" class="form-control" />
                <span asp-validation-for="Quayside" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RebaggingAgent" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="RebaggingAgent" class="form-control" />
                <span asp-validation-for="RebaggingAgent" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="RebaggingWfp" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="RebaggingWfp" class="form-control" />
                <span asp-validation-for="RebaggingWfp" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MssLevy" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="MssLevy" class="form-control" />
                <span asp-validation-for="MssLevy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Rdl" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Rdl" class="form-control" />
                <span asp-validation-for="Rdl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TransportQuaysideGbhl" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="TransportQuaysideGbhl" class="form-control" />
                <span asp-validation-for="TransportQuaysideGbhl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tagging" class="col-md-5 control-label"></label>
            <div class="col-md-7">
                <input asp-for="Tagging" class="form-control" />
                <span asp-validation-for="Tagging" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-5 col-md-7">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Details" asp-route-id=1>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




